fastapi
uvicorn
jinja2
python-dotenv
requests

langchain
langchain-google-genai
langchain-mistralai
langgraph
langgraph-checkpoint-postgres

langchain-tavily

psycopg[binary]
psycopg_pool
airportsdata
pycountry