fastapi
uvicorn
jinja2
python-dotenv
requests

langchain
langchain-google-genai
langchain-mistralai
langgraph
langgraph-checkpoint-postgres

langchain-tavily
tavily-python

psycopg[binary]
psycopg_pool
airportsdata
pycountry
langchain-mcp-adapters
nest_asyncio
mcp
aviationstack-mcp